/venv/
/data/
/chemxai/__pycache__/
/__pycache__/
/Doc_ChemXAI/
/test_evaluation/
key.txt
key.txt.pub
token.txt
/Exp_Luis/
/__tests__/
/.vscode/
/PaperIdeias/
/AnalisesExperimentos/
/experiments/
Paper/all_desc_qm9.csv
