/venv/
/data/
/chemxai/__pycache__/
/__pycache__/
/Doc_ChemXAI/
/test_evaluation/
key.txt
key.txt.pub
token.txt
/Exp_Luis/
/__tests__/
/.vscode/
/PaperIdeias/
/AnalisesExperimentos/
/experiments/
/Paper/all_desc_qm9.csv
/Paper/desc_mordred_qm9.csv
/Paper/results/test5/__pycache__/
/poster_visualizations/
/Paper/
degradation_baseline_feature.out
feature_selection_XAI.out
optuna_results_Dipole_moment_mu_Debye_D.csv
optuna_results_Electronic_spatial_extent_atomic_units_a.u..csv
optuna_results_Energy_of_HOMO_epsilonHOMO_Hartree_Ha.csv
optuna_results_Energy_of_LUMO_epsilonLUMO_Hartree_Ha.csv
optuna_results_Enthalpy_at_298.15_K_H_Hartree_Ha.csv
optuna_results_Free_energy_at_298.15_K_G_Hartree_Ha.csv
optuna_results_Gap_epsilongap_Hartree_Ha.csv
optuna_results_Internal_energy_at_0_K_U0_Hartree_Ha.csv
optuna_results_Internal_energy_at_298.15_K_U_Hartree_Ha.csv
optuna_results_Isotropic_polarizability_alpha_atomic_units_a.u..csv
optuna_results_Rotational_constant_B_GHz.csv
optuna_results_Rotational_constant_C_GHz.csv
optuna_results_Zero_point_vibrational_energy_zpve_Hartree_Ha.csv